@{
    ViewData["Title"] = "About Us";
}
    <h1>@ViewData["Title"]</h1>
    <br />
    <p>
        <b>E-Votes</b> Was brought to fuition by a group of five (5) college students in the year of 2023 who has identified the issue<br />
        of lack of trasparency at the voting polls and the fear that becomes eveident when election date comes around in Jamaica.<br />
        <br />
        Through a session of critical thinking they decided to create a <b>E-Votes</b> portal that will allow voting to be done <br />
        online with only the need of a users voters ID number.<br />
        <br />
        The Evotes Web Platform is design to work in conjecture with a Desktop Application which will manage the candidates enter<br />
        on the web platform and will only allow though who have been registered with the application to make changes to the added <br />
        candidate but will not allow them to modify the vote count and the web portal would be when a voting incrimentation can be <br />
        made for each candidate.<br />
    </p>

