@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-Votes Web Portal</h1>
    
    <p>

    </p>
</div>
<div class="" style="float:left">
            <br /><br /><br />
            <img style="border-radius: 15px" src="https://th.bing.com/th/id/OIP.nDUAtxkmxw0y3oBjIHUauAAAAA?pid=ImgDet&rs=1" />
            <br />
            <p style="text-align: center; color:blue ;"  >
                <b>
                    YOUR VOTE YOUR RIGHT
                </b>
            </p>
</div>
<div class="container" style="float: left">
    <p>
        The right to vote is granded to all citizen recognize as an adult under the Jamaican law.<br />
        To vote with <b>E-Votes</b> all you would need is a valid voters ID number and the oppertunity <br />
        to access the internet. <b>E-Votes</b> grants you our user the ability to vote from anywhere in<br />
        the world once you are a recognized citizen, after all its your vote and it's your right.<br />
    </p>
</div>            
 
