@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    When you use our services, you’re trusting us with your information.<br />
    We understand this is a big responsibility and work hard to protect your information.<br />
    <br />
    We work hard to provide:
    <ul>
        <li>
            Secrecy - The process guarantees not to publicize the preference or will of any elector.
        </li>
        <li>
            Transparency - The ability to see and verify each essential step in the elections.
        </li>
        <li>
            Universial Voting - All citizens who meet the qualifications established by law have the right to vote.
        </li>
        <li>
            Non - Tranferrable - The Elector cannot transfer to anyone his right to vote.
        </li>
        <li>
            Free Voting - The elector is entitled to vote free.
        </li>
        <li>
            Direct - The citizen elects the Representative of his choice.
        </li>
    </ul>
    As it stands we do our best to ensure a safe and secure voting interaction between our platform and you our users.
</p>
