@{
    ViewData["Title"] = "Candidate Details";
}
    <h1>@ViewData["Title"]</h1>
    <br />
<div class="container">
            <h5><b>Damion Palmer</b></h5>
            <p>
                Always aim to support people in his community and due to his massive contribution the populus has deemed him <br />
                adiquate to lead.
            </p>
            <br />
            <h5><b>Tyreke Lewin</b></h5>
            <p>
                They all say he is a man born to lead. from school days he has always took the initiatve to to guide his peers <br />
                down the right path.
            </p>
            <br />
            <h5><b>Recordo Barclay</b></h5>
            <p>
                The person amost all said is unreadable but with all the people saying this he was still selected to lead. Truely <br />
                he is a man lased in mysteries.
            </p>
            <br />
                 <a class="btn btn-success" asp-controller="Voters" asp-action="Create"><i class="fas fa-plus"></i> New Vote</a> 
    </div>
    